<div id="section-one">
  <div id="paragraph-one"><p>About Us</p></div>
  <div id="paragraph-two"><p>Our mission is to make<br> healthcare more accessible</p></div>
  <div id="paragraph-three"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit urna, tortor<br> pulvinar dolor rhoncus sit. Tristique sit eros, luctus qua.</p></div>
  <div id="paragraph-four">
    <button id="button-one"  (click)="scrollToStory()">Our Story</button>
    <button id="button-two" (click)="subscribe()">Join our Team</button>
  </div>
  <div id="paragraph-five"> 
    <img src="../../../assets/images/Home/about-us/about_1.svg">
  </div>
</div>

<div id="section-two">
<div id="text">
  <div id="paragraph-one" class="our-story"><p>Our Story</p></div>
  <div id="paragraph-two"><p>Our mission is to make<br> healthcare more accessible</p></div>
  <div id="paragraph-three"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pretium quam risus pretium, adipiscing volutpat. Fermentum lobortis vestibulum quam posuere lectus convallis sit tempor habitant. Turpis nec ut consectetur nisi, nisl a ut.

    Tempor eu a commodo, sagittis sem orci. Nunc duis vestibulum, at elit sed quis. Orci lectus sollicitudin non placerat ac. Lectus commodo volutpat, enim, turpis. Ut elementum commodo ipsum commodo quis. Tempus.
    
    </p></div>
</div>
<div id="image">
<img src="../../../assets/images/Home/about-us/about_2.svg">
</div>
</div>