<footer>
  <!-- <div class="footer-container">
    <div class="footer-section" id="footer-logo">
      <h3 id="logo">
        <img src="../../../assets/images/Home/heartIcon.png" alt="Logo" />
        ClinicAccess
      </h3>
      <p>
        Great doctor if you need your family member to get effective immediate
        assistance, emergency treatment or a simple consultation.
      </p>
    </div>
    <div class="footer-section" id="footer-company">
      <h3>Company</h3>
      <ul>
        <li><a href="#">About us</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Team</a></li>
      </ul>
    </div>
    <div class="footer-section" id="footer-contact">
      <h3>Contact us</h3>
      <p><a href="mailto:contact@example.com">contact&#64;example.com</a></p>
      <p><a href="tel:+152534468854">+152 534-468-854</a></p>
    </div>
  </div> -->
  <div class="footer-bottom">
    <p>&copy; 2024 ClinicAccess. Design by Esraa Said.</p>
  </div>
</footer>
