
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", "Helvetica Neue", "Arial", sans-serif;
  transition: all 0.3s ease;
}

.body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .form-container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 600px;
    margin: 0px auto 30px auto;
  }
  
  .form {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #333;
    font-size: 24px;
  }
  
  .form-group {
    margin-bottom: 20px;
    flex-basis: calc(50% - 20px);
    width: 100%;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
    color: #333;
  }
  
  input,
  select {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    transition: border-color 0.3s;
  }
  
  input:focus,
  select:focus {
    border-color: #007bff;
    outline: none;
  }
  
  
  
  button, button[type="submit"] {
    width: 100%;
    padding: 12px 15px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button[type="submit"]{
      background-color: #007bff;
      color: #fff;
  
  
  }
   input[type="submit"]:hover{
    background-color: #0056b3;
  }
  
  .form-group-inline {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  #form-image input[type="file"]{
    width: 100%;
  
    display: block;
  }
  .gender {
    display: flex;
    justify-content: space-evenly;
    flex-basis: calc(100% - 10px);
  }
  
  .gender #gender-title{
      margin-right: 20px;
      justify-content: flex-start;
  }
  
  .form-group-inline label {
    margin-right: 10px;
    margin-bottom: 0;
  }
  
  .text-center {
    text-align: center;
  }
  
  input.ng-invalid.ng-touched {
    border: 1px solid red;
  }
  
  .msg {
    color: red;
    font-size: x-small;
  }
  
  #button-signup:disabled {
    background-color: #ccc;
  }
  

  @media (max-width: 800px) {
    #section-one, .body {
      padding-left: 10px;
      padding-right: 10px;
      margin-left: auto;
      margin-right: auto;
      width: 90%;
    }
    .form-group {
      flex-basis: calc(100% - 20px);
    }
    .form{
      width: 100%;
  
    }
    .form-container{
      margin-left: auto;
      margin-right: auto;
      width: 100%;
    }
    button, button[type="submit"]{
      font-size: 15px;
    }
  }
  
  