.popup-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .popup-form form{
    padding: 20px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

  }
  select{
    width: 100%;
    margin-bottom: 20px;
    margin-top: 10px;
    height: 30px;
  }
  .buttons {
    display: flex;
    justify-content: space-between;
  }
.buttons button{
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  border: none;
}
  
  button[type=submit]{
background-color: green;
  }
  button[type=button]{
    background-color: red;
  }
