
<div id="container">
  <div id="header">
    <p>
      <span id="admin"> Admin</span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-1 icons"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="m8.25 4.5 7.5 7.5-7.5 7.5"
        />
      </svg>
      <span id="dashboard">Dashboard</span>
    </p>
  </div>

<section>
  <div class="box">
    <div class="box-image">
      <img src="../../../assets/images/patientIcon.png" alt="patient icon" />
    </div>
    <div class="box-text">
      <p class="value">
        {{ numberOfPatients }}
      </p>
      <p class="key">Patients</p>
    </div>
  </div>

  <div class="box">
    <div class="box-image">
      <img src="../../../assets/images/doctorIcon.png" alt="patient icon" />
    </div>
    <div class="box-text">
      <p class="value">
        {{ numberOfDoctors }}
      </p>
      <p class="key">Doctors</p>
    </div>
  </div>

  <div class="box">
    <div class="box-image">
      <img src="../../../assets/images/staffIcon.png" alt="patient icon" />
    </div>
    <div class="box-text">
      <p class="value">
        45 
      </p>
      <p class="key">Staff Members</p>
    </div>
  </div>

  <div class="box">
    <div class="box-image">
      <img src="../../../assets/images/avgCostIcon.png" alt="patient icon" />
    </div>
    <div class="box-text">
      <p class="value">
        445,550
      </p>
      <p class="key">Avg. costs</p>
    </div>
  </div>


  <div class="box">
    <div class="box-image">
      <img src="../../../assets/images/vehicleIcon.png" alt="patient icon" />
    </div>
    <div class="box-text">
      <p class="value">
        10
      </p>
      <p class="key">Vehicles</p>
    </div>
  </div>

  <div class="box">
    <div class="box-image">
      <img src="../../../assets/images/appointmentIcon.png" alt="patient icon" />
    </div>
    <div class="box-text">
      <p class="value">
        {{ numberOfAppointments }}
      </p>
      <p class="key">Appointment</p>
    </div>
  </div>

  
</section>
</div>
