* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", "Helvetica Neue", "Arial", sans-serif;
    transition: all 0.3s ease;
  }
  
  #container {
    background-color: rgb(240, 243, 252);
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 50px;
    margin: 30px;
    border-radius: 10px;
  }
  .status-pending {
    color: orange;
  }
  
  .status-confirmed {
    color: green;
  }
  
  .status-canceled {
    color: red;
  }
  
  #header p {
    display: flex;
    align-items: center;
  }
  
  .icons {
    width: 20px;
    height: 20px;
  }
  
  #doctor {
    font-size: 19px;
    color: rgb(64, 69, 75);
    font-weight: 550;
  }
  
  #slots {
    color: rgb(64, 69, 75);
  }
  
  #table {
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    margin-top: 20px;
    padding: 30px;
  }
  
  table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;
  }
  
  thead {
    background-color: rgb(139, 143, 148);
    color: #fff;
    border-radius: 10px;
    
  }
  
  th {
    font-weight: bold;
    text-align: left;
    padding: 12px;
  }
  
  tr {
    background-color: rgb(249, 249, 249);
    height: 80px;
    border-radius: 10px;
  }
  
  td {
    padding: 12px;
    color: rgb(64, 69, 75);
    font-size: 17px;
  }
  
  tr:hover {
    background-color: rgb(249, 249, 249);
  }
  tr:hover td {
    color: rgb(0, 0, 0);
  }
  
  .delete{
    color: red;
    cursor: pointer;
  }
  .update{
    color: green;
    cursor: pointer;
  }

  footer {
    display: flex;
    justify-content: space-between;
    margin-left: 0;
    margin-right: 10px;
    position: relative;
  }
  
  footer span {
    margin-top: 30px;
    font-size: 17px;
    color: rgb(64, 69, 75);
  }
  button {
    padding: 10px 15px;
    background-color: rgb(103, 119, 240);
    font-size: 17px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    color: #fff;
    margin-left: 20px;
  }
  
  button:hover {
    background-color: rgb(95, 111, 228);
    transform: rotateY(45deg);
   
  }